/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: left;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { 
    font-weight:normal; 
}

img { 
    border: 0; 
}

/* HTML 5 elements */

header, footer, nav, section, article, aside { display: block }

/* Layout stuff */
html {
    min-height: 100%;
    margin: 0;
}

body {
    margin: 0;
    
    padding-bottom: 30px;
    min-height: 100%;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 75%;
    color: #333333;
    
    background-color: #333333;
    background-image: -webkit-linear-gradient(top, #333333 66%, #666666); 
    background-image: -moz-linear-gradient(top, #333333 66%, #666666);
}

a {
    color: #aa3333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    color: #cccccc;
    background: #666666;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0px;
    left: 0px;
}

nav a {
    color: #cccccc;
}

nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    padding: 10px;
    float: left;
    border-right: 3px solid #ffffff;
}

nav ul li a.active,
nav ul li a:hover {
    background: #888888;
}

header {
    position: fixed;
    z-index: 201;
    top: 0;
    right: 0;
}

header h1 {
    margin: 0;
    padding: 0 5px;
    color: #999999;
    font-family: Garamond, serif;
    font-size: 28px;
    
}

header h1 * {
    color: #999999;
    text-decoration: none;
}

header .user {
    display: none;
}

div.message {
    width: 100%;
    top: 30px;
    position: fixed;
    background: #008888;
    text-align: center;
    opacity: .8;
}

form > p {
    overflow: hidden;
}

form > p > label {
    display: block;
    width: 130px;
    padding: 7px 0;
    float: left;
}

input[type=text] {
    width: 70%;
}

button,
input[type=text],
input[type=checkbox], 
form > p > div.checker {
    float: right;
}

textarea {
    width: 98%;
    height: 200px;
}

#content {
    width: 650px;
    margin-top: 80px;

    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
}

#content article {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    padding: 40px;
    margin-bottom: 70px;
    
    position: relative;
    font-size: 14px;

    background-color: #ffffff;
} 

#content article .published {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20px;
    right: 40px;
    font-family: Garamond, serif;
}

#content article .published span {
    display: block;
    text-align: right;
}

#content article .published span.user {
    display: none;
}

#content article>h2 {
    margin: 0px;
    color: #333333;
    font-family: Garamond, serif;
    font-size: 35px;
}

#content article>h2>a {
    text-decoration: none;
    color: #333333;
}

#content article>h2>a:hover {
    text-decoration: underline;
}

article .summary * {
    display: inline;
}

article .summary pre {
    display: none;
}

article .summary {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;

    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis;
    
    padding-top: 20px;
}

article p {
    padding-top: 20px;
    margin: 0;
}

.show-more {
    font-family: Garamond, serif;
    font-size: 20px;
    color: #ffffff;
}

.show-more:after {
    content: ' ↓';
}

.codehilite {
    font-size: 12px;
    overflow: hidden;
    padding: 4px;
    margin-top: 15px;
    background: #eeeeee;
}

.codehilite pre {
    margin: 0;
    padding: 0;
}