<!DOCTYPE HTML>
<html>
    <head>
        <title>{%block title%}{%endblock%}</title>
        
        <link rel="stylesheet" type="text/css" href="/3rdparty/uniform/css/uniform.default.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/shared.css">
    </head>
    <body>
        {% if message %}
            <div class="message"><p>{{ message }}</p></div>
        {% endif %}

        <header>
            <h1><a href="/">Pascal's Blog</a></h1>
            
            {% if user %}
            <p class="user">Hello {{ user.nickname }}</p>
            {% endif %}
        </header>

        {% if user %}
        <nav>
            <ul>
                {% if is_admin %}
                <li><a href="/">Home</a></li>
                <li><a href="/admin/drafts">Drafts</a></li>
                <li><a href="/admin/post">New Post</a></li>
                {% endif %}
                <li><a href="{{ logout_url }}">Logout</a></li>
            </ul>
        </nav>
        {% endif %}
        
        <section id="content">
            {%block content%}{%endblock%}
        </section>
        <script type="text/javascript" src="/3rdparty/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/3rdparty/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="/3rdparty/uniform/jquery.uniform.min.js"></script>
        <script type="text/javascript" src="/js/shared.js"></script>
    </body>
</html>
