{% for post in posts %}
<article>
    <h2 class="title"><a href="/post/{{ post.url_token }}">{{ post.title }}</a></h2>

    <p class="published">
        <span class="date">{{ post.published|formatdate }}</span>
        <span class="user">by {{ post.user.nickname }}</span>
    </p>

    <div class="text summary">{{ post.text|markdown|safe }}</div>

    {% if is_admin %}
    <p class="admin">
        <a href="/admin/post/{{ post.key }}" class="button">Edit</a>
        <a href="/admin/post/delete/{{ post.key }}" class="button">Delete</a>
    </p>
    {% endif %}
</article>
{% endfor %}

{% if more %}
<a class="show-more" href="/posts/more?offset={{ offset }}&count={{ count }}&active={{ active }}">More</a>
{% endif %}
