{% extends "layout.html" %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% for post in posts %}
<article>
    <h2 class="title"><a href="/post/{{ post.url_token }}">{{ post.title }}</a></h2>

    {{ post|render_post:"post_date_info" }}

    <div class="text summary">{{ post.text|markdown }}</div>

    {% if is_admin %}
    {{ post|render_post:"post_admin_controls" }}
    {% endif %}
</article>
{% endfor %}

{% if more %}
<a class="show-more" href="/posts/more?offset={{ offset }}&count={{ count }}&active={{ active }}">More</a>
{% endif %}
{% endblock %}
